*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px auto;
    padding: 0px;
    font-family: 'Open sans',sans-serif;
}

.wrapper{
    width: 1100px;
    margin: 0px auto;
    padding: 0px;
    position: relative;
}

.logo a{
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: #99B080;
}

.menu{
    float: right;
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #ffffff;
    z-index: 1;
    border-bottom: 1px solid #35A29F;
}

nav ul{
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

nav ul li{
    float: left;
}

nav ul li a{
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration: underline;
}

section{
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom{
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .Deskripsi{
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans-ms';
    color: #35A29F;
}

h2{
    font-family: 'comic sans-ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #35A29F;
    width: 100%;
    line-height: 50px;
}
a.tbl-biru{
    background: #86A789;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px ;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover{
    background: #fc5185;
    text-decoration: none;
}


a.tbl-pink:hover{
     
}
p{
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 5px;
}

table{
    float:left;
}
  
img {
    float: left;
}

table {
    width: 48%;
}
  
  /* Gaya untuk sel ganjil dalam tabel */
tr:nth-child(odd) {
    background-color: #A7D397; /* Warna latar belakang sel ganjil */
    color: black;
    text-decoration: none;
}
  
  /* Gaya saat mengarahkan kursor ke sel */
tr:hover {
    background-color: white; /* Warna latar belakang saat mengarahkan kursor */
}
  
  /* Gaya untuk sel teks pada tabel */
td {
    padding: 20px;
}
  *{
box-sizing: border-box;
  }  
.container { 
    display: flex;
    flex-direction: row-reverse; /* Membalik arah elemen dalam kontainer */
}
  
.content {
    float: center; /* Mengatur elemen konten ke kiri */
    width: 60px%; /* Misalnya, 70% lebar dari kotak konten */
    padding: 200px;
}

#contact{
    background: #dedede;
    padding: 50px 0px 50px 0px;
}
.footer{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section{
    width: 20%;
    margin: 0 auto;
}

h3{
    font-family: 'comic sans-ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #86A789;
    width: 100%;
    line-height: 50px;
}

#copyright{
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}

